*{
margin: 0;
padding: 0;
}

:root{
font-size: 62.5%;
}

body{
font-family: 'open Sans', sans-serif;
font-size: 1.6rem;
}
img{
max-width: 100%;
}
.header{
background-color: #ffffff;
width: 100%;
}
.logo-text{
text-transform: uppercase;
background-color: #63c6ae;
font-size: 2.4rem;
padding: 2rem;
float: left;
display:block;
text-decoration: none;
font-weight: bold;
color:#ffffff;
}
.header__btnMenu{


}

.header__nav{
clear: left;

}
.header__nav ul li{
list-style: none;
background: #242c2c;
text-align: center;
border-bottom:1px dotted rgba(255,255,255,.2);
}

.header__nav ul li a{
  text-transform: uppercase;
  color: #586165;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  padding:2.5rem 0;
  transition: .8s ease;
}

.header__nav ul li a:hover{
color: #63c6ae;
}

.hero{
height: 80vh;
padding: 4rem 2rem;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(45deg, white 50%, transparent 50%)   left calc(50% + 2rem) bottom no-repeat, 
linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 2rem) bottom no-repeat,
     url(..//img/01.jpg);
background-size:4rem 4rem , 4rem 4rem , cover;
}
.hero__title{
background-color: #63c6ae;
color: #ffffff;
font-size: 2.8rem;
font-weight: bold;
padding: 3rem 2rem;
}
.hero__text{
background-color: #242c2c;
margin: .5rem 3rem 3.5rem;
color: #ffffff;
padding: 2rem;
}
.hero__btn{
border: 1px solid rgba(255,255,255,.3);
background-color: rgba(0,0,0,.2);
border-radius: .5rem;
padding: 1.5rem 2.5rem;
color: #ffffff;
text-decoration: none;
font-weight: 600;
text-transform: uppercase;
}