
:root{
font-size: 62.5%;
}

body{
  margin: 0;
font-family: 'open Sans', sans-serif;
font-size: 1.6rem;
line-height: 1.4;
}
img{
max-width: 100%;
}
.container{
margin-inline: auto;
padding-inline: 1rem;

}
.header{
background-color: #ffffff;
width: 100%;
}
.logo-text{
text-transform: uppercase;
background-color: #63c6ae;
font-size: 2.4rem;
padding: 2rem;
float: left;
display:block;
text-decoration: none;
font-weight: bold;
color:#ffffff;
}
.header__btnMenu{


}

.header__nav{
clear: left;

}
.header__nav ul li{
list-style: none;
background: #242c2c;
text-align: center;
border-bottom:1px dotted rgba(255,255,255,.2);
}

.header__nav ul li a{
  text-transform: uppercase;
  color: #586165;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
  padding:2.5rem 0;
  transition: .8s ease;
}

.header__nav ul li a:hover{
color: #63c6ae;
}

.hero{
height: 80vh;
padding: 4rem 2rem;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient(45deg, white 50%, transparent 50%)   left calc(50% + 2rem) bottom no-repeat, 
linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 2rem) bottom no-repeat,
     url(..//img/01.jpg);
background-size:4rem 4rem , 4rem 4rem , cover;
}
.hero__title{
background-color: #63c6ae;
color: #ffffff;
font-size: 2.8rem;
font-weight: bold;
padding: 3rem 2rem;
}
.hero__text{
background-color: #242c2c;
margin: .5rem 3rem 3.5rem;
color: #ffffff;
padding: 2rem;
}
.hero__btn{
border: 1px solid rgba(255,255,255,.3);
background-color: rgba(0,0,0,.2);
border-radius: .5rem;
padding: 1.5rem 2.5rem;
color: #ffffff;
text-decoration: none;
font-weight: 600;
text-transform: uppercase;
}

.people-cards{
margin-top: 2.5rem;
}
.people-cards__card:hover{
outline: 5px solid #63c6ae;
outline-offset: -.5rem;
transition: .1s;
color: #63c6ae;
}
.people-cards__card:hover .people-cards__avatar img{
transform: translateY(-50%);
}

.people-cards__card:hover .people-cards__title,
.people-cards__card:hover .people-cards__text{
color: #63c6ae;
}
.people-cards__image{
width: 100%;
}
.people-cards__avatar{
margin: -5.5rem auto;
width: 8rem;
height: 8rem;
overflow: hidden;
}
.people-cards__content{
text-align: center;
padding: 4rem 2.5rem 1rem;
border-left: 1px solid #dbe1e7;
}
.people-cards__title{
color: #737c85;
font-size: 2.1rem;
font-weight: normal;
}
.people-cards__text{
color: #929da5;
font-size:1.4rem ;
}
.content{
background-color: #f8f9f9;
padding: 2rem 0 8rem;
border: 1px solid #e3e3e3;
}
.content h3{
color: #737c85;
font-size: 2.1rem;
padding-top: 4rem;
font-weight: 400;
}
.content p{
color: #929da5;
font-size: 1.4rem;
word-spacing: .3rem;
}

.button{
padding: 1.5rem 4rem;
border-radius: .3rem;
text-decoration: none;
font-weight:600;
font-size: 1.5rem;
margin-right: 1.5rem;
display: inline-block;
transition: background .4s ease;
}
.button:hover{
background-color: #929da5;
}
.button-primary{
background-color:#63c6ae;
color: #fff;
}
.button-secundary{
  background-color:#455357;
  color: #fff;
  }
